apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order
        image: kennethreitz/httpbin
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: api-secret
        readinessProbe:
          httpGet:
            path: /get
            port: 80
          initialDelaySeconds: 5
        livenessProbe:
          httpGet:
            path: /get
            port: 80
          initialDelaySeconds: 10
